@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

 *{
	margin: 0;
	padding: 0; }


body,h1,h2,h3,h4,h5,h6,p,span,input,button{
	font-family: 'Playfair Display', serif;
}

/* header start */
.container{
	width: 1140px;
	margin: 0 auto;
}

a,a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	display: flow-root;
}
.menubar{
	width: 100%;
	float: left;
	padding: 35px 0px;
}
.logo{
	width: 20%;
	float: left;
	text-align: left;
}
.menu{
	width: 80%;
	float: right;
	text-align: right;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 55px;
}
.menu ul li a{
	
	color: #626262;
}
.menu ul li a:hover{
	color: black;
}


/* header end */

/* banner start */
.banner{
	width: 100%;
	display: flow-root;
}
.post-content{
	padding: 55px;

}
.category{
	text-transform: uppercase;
	color: #bdb7aa;

}
.title{
	color: #626262;
	margin: 25px 0;
}
.desc{
	
	color: #626262;
	margin-bottom: 35px;
}

.comment{
	text-transform: uppercase;
	color: #bdb7aa;

}
/* banner end */

/* gallery start */
.gallery{
	padding: 55px;
	display: flow-root;
	}
.posts{
	width: 100%;
	display: flow-root;
	

}
.post{
	width: 100%;
	float: left;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	float: right;
}
.posts .category{
	margin-top: 25px;
}

/*  gallery end*/

/* subcribe start */
.subscribe{
	width: 100%;
	display: flow-root;
	background-color: #f0f0f0;
	text-align: center;
	padding: 50px 0;
}
.subscribe h1{
	margin-bottom: 45px;


}
form input{
	padding: 15px 0px;
    width: 395px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
form input: focus{
	outline: none;
}
form{ position: relative; }
form img{position: absolute;
	    top: 11px;
    	right: 374px;
}

/* subcribe end */

/* button */
.loadmore{
	text-align: center;
}
.loadmore button{
	padding: 20px 35px;
    background: transparent;
    border: 1px solid black;
    font-size: 22px;
/* button */
}

/* footer start */
.footer{
	width: 100%;
    display: flow-root;
    background-color: #f0f0f0;
    margin-top: 100px;
    padding: 40px 0;
}
.content{
	width: 100%;
	float: left;
}

.fleft{
	width: 45%;
    float: left;
    padding-left: 150px;
    margin-left: 0;
}
.toc{
	margin-right: 50px;
}

.fright{
	width: 50%;
    float: right;
    text-align: right;
    margin-right: 30px;

}
i{
	margin-left: 15px;
	margin-right: 15px;
}
/* ffoter end */